# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
#int == whole number

number = 6
print(number)
elephants = 21
print(elephants)
x = 5
y = 13
print(x)
print(y)

##### Assigning float

In [ ]:
# float == decimal

num_float = 3.14
print(num_float)

my_float = 30.465
print(my_float)

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
num1 = 3
num2 = 7

print(num1 + num2)


result = num1 + num2

print(result)

In [ ]:
num3 = 15
num4 = 2

result = num3 + num4

print(result)

result += num4
# result = result + num4
print(result)

##### Subtraction

In [ ]:
num3 = 15
num4 = 2

print(num3 - num4)

result = num3 - num4
print(result)

result -= num4
# result = result - num4
print(result)

##### Multiplication

In [ ]:
num1 = 10
num2 = 4.7

product = num1 * num2
print(product)

product *= 2

print(product)

In [ ]:
num1 = 10
num2 = 4.7

product = num1 * num2
print(product)

product = product * 2

print(product)

In [ ]:
print(10 * 2)

##### Division

In [ ]:
num1 = 45
num2 = 9

quotient = num1 / num2
print(quotient)

quotient /= 2
print(quotient)

In [ ]:
num1 = 45

num1 /= 3

print(num1)

##### Floor Division

In [ ]:
num1 = 5
num2 = 2

floored = num1//num2

print(floored)

num3 = 6
num4 = 4

num3 //= num4

print(num3)

In [ ]:
num1 = 5
num2 = 2

quotient = num1 / num2
print(quotient)

##### Modulo

In [ ]:
num1 = 6
if num1 % 2 == 0:
    print("even")
else:
    print("odd")

In [ ]:
num1 = 5
num2 = 2
result_mod = num1 % num2
print(result_mod)

#shorthand
num1 %= num2

print(num1)

In [ ]:
num1 = 100
num2 = 15

result_mod = num1 % num2
print(result_mod)

##### Exponential

In [ ]:
square = 5**2

print(square)


square**=2
print(square)

In [ ]:
cubed = 3**3
print(cubed)

cubed**=3
print(cubed)

### String Input-Output

##### String Assignment

In [ ]:
name = "Ryan"

dog = "Golden Retriever"

print(name)
print(dog)
print(sentence)

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
print("Hello,", name )

print("Full name:", name, end=" Rhoades")

print('\n')
help(print)

##### String Concatenation

In [ ]:
first_name = "Luke"
last_name = "Skywalker"

full_name = first_name + " " + last_name
print(full_name)

full_name += (" " + "Jedi Master")
print(full_name)

new_name = 'I am a'
new_name += ' Jedi Master'
print(new_name)

In [ ]:
my_string = "I have a dog, his name is"
dog_name = "Eyo"

dog_sentence = my_string + " " + dog_name
print(dog_sentence)

##### Type Conversion

In [ ]:
# int() - convert type into integer type
# float() - convert to float type
# str() - convert to string type

#not every string can be made into a float or integer but every integer or float can be made into a string
# why?!?!?

x = 12
print(type(x))

name = "Ryan"

num_str = "15"

y = 1.45
print(type(y))

my_float = 4.7
print(type(my_float))
my_string_float = str(my_float)

print(type(my_string_float))

In [ ]:
new_x = str(x)

new_y = str(y)

print(type(new_x))
print(type(new_y))

In [ ]:
new_name = int(name)

##### input()

In [ ]:
# Input will always return a string, all of the time, forever and ever and ever and ever
name = input("What is your name?")
print("Your name is,", name)

quest = input("What is your quest,")
print("Your quest is,", quest)

color = input("What is your favorite color?")
print("Your favorite color is,", color)

In [ ]:
sentence = "I met this guy he said \"hello I'm a person" "

In [ ]:
age = float(input("How old are you? "))

print("Your age is", age)

age += 1

print(age)

##### format()

In [ ]:
age = int(input("How old are you? "))
name = input("What is your name? ")

result_string = "You are {} years old, {} and you are getting wiser!".format(age, name)
print(result_string)

# Down below is the most common way
result_again = f"{age} is a great time in life!!!  Good job {name}!!"
print(result_again)

##### Old Way (python 2)

In [ ]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

# In-Class Exercise 1 <br>
<p>Create a formatted statement that asks for a car's color, year, make, model and prints out the results</p>

In [ ]:
car_color = input("What is your car's color? ")
car_year = input("What year is your car? ")
car_make = input("What make is your car? ")
car_model = input("What model is your car? ")

print(f"You drive a {car_color} {car_year} {car_make} {car_model}.")

### If Statements

In [ ]:
# Operators Less Than <, Greater Than >, Equal too ==, Not Equal To !=
# Less Than or Equal To <=, Greater Than or Equal To >=

#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 6
num2 = 65
#if
#elif
#else

if num2 == num1:
    print("yay")
elif num1 > num2:
    print("num2 is larger")
else:
    print("boo")

##### 'is' keyword

In [ ]:
#use the "is" keyword checking for same/similar objects (location) not same value
num3 = 90

if num3 == 90:
    print("That'll do it!")
    
# if num3 is 90:
#     print("That'll also do it") #This gives us a Syntax Warning, working with literal
num2 = 55
print(num2)
num3 = num2 # = 55
print(num3)
num4 = num3
print(num4)
num2 = num2 + 1
print(num2)
num5 = 100


user_age1 = int(input("How old are you?"))

user_age2 = int(input("How old are you?"))

# if num4 == num3:
#     print("SUPER DUPER")
# else:
#     print("That is not super duper")

if user_age1 == user_age2:
    print("Yay you graduate high school in the same year, mayne")
else:
    print("One of you is older")

##### 'in' keyword

In [ ]:
#Check if a character is in a string
char_name = "Boba Fett"
if "b" in char_name.lower():
    print("Beautiful")
else: 
    print("Oh no, thats not here!")
    
if "f" in char_name.lower():
    print("its here")
else:
    print("NOPE")

##### 'not in' keyword'

In [ ]:
sega_char = "Sonic"
sega_char2 = "Sanic"

if "a" not in sega_char.lower():
    print("This is not Saaaanic")
else:
    print("This is Saaanic")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

In [ ]:
name = input("Hello, what is your name? ")
if "p" in name.lower():
    print("This name has a P!")
else:
    print("This name does not contain the letter P.")

## Using 'and'/'or' with If Statements

In [ ]:
#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F


num1 = 15
num2 = 3
num3 = 10
num4 = 3

#if with and statement
if num1 / 5 == num2 and num3 - 7 == num4:
    print("True and True")
else:
    print("one of the above statements was false")
    
# if with or statement
if num1 > num2 or num3 == num4:
    print("One of these is true")
else:
    print("Both of the above statements are false")

### Elif Statements

In [ ]:
#if conidtion 1
#elif condition 2
#elif condition 3
#elif condition 4
#else (all other conditions)

first_name = "Alex"

if first_name == "smith":
    print("That is a weird first name")
elif first_name == "max":
    print("Ah yes, Max is indeed a first name")
elif first_name == "ryan":
    print("Hello Ryan")
elif first_name.lower() == "alex":
    print("GUTEN MORGEN, ALEX")
else:
    print("Thats not a name i care about")

### Else Statements

In [ ]:
#else is accounting for every other case that isn't true for any of the ifs or elifs
number = 1120

if number == 20:
    print(number)
elif number == 15:
    print(number)
else:
    print(f"The number is not 20 or 15, its {number}")

### String Manipulation

#### .lstrip()

In [ ]:
# our_string.lstrip()
name = "                  Lando Calrissian"
print(name)
print(name.lstrip())

#### .rstrip()

In [ ]:
# our_string.rstrip()
name = "Luke Skywalker     "
print(name)
name = name.rstrip()
print(name)

#### .strip()

In [ ]:
# our.string.strip()
name = "   Ash Ketchum    "
print(name)

print(name.strip())

In [ ]:
name = input("What is your name? ")


if name == "ryan":
    print("cool beans")
else:
    print("unlegit")
name = name.strip()
if name == "ryan":
    print("cool beans")
else:
    print("unlegit")

In [ ]:
name = "rod,"

name = name.strip(',')
print(name)

In [ ]:
#.replace()
name = ",,,,,,,,,,,,,,,,,,,,,,,,,,,,r,o,d"

name = name.replace(",", '')
print(name)

#### .title()

In [ ]:
#our_string.title()
name = "goofy goober"
print(name.title())

#### .upper()

In [ ]:
# our_string.upper()
name = "Cheetor"
print(name.upper())

#### .lower()

In [ ]:
# our_string.lower()
name = "Darth Vader"
print(name.lower())

name_lower = name.lower()
print(name_lower)

### String Exercise

Have a user input a sentence. Return the name with all white space removed and each first letter capitalized.

In [ ]:
sent = input("Type a sentence here: ")
print(sent)
print(sent.title().strip())

### Built-In Functions

##### len()

In [ ]:
#works for strings and lists
# return the length of a given variable as an integer

name = "Max"
length_of_name = len(name)
print(length_of_name)
print(len(name))


my_list = [1, 2, 3, 4, 5, 6, 7]

print(len(my_list))

##### help()

In [ ]:
# gives a tooltip on a python built-in function
help(len)
help(print)
help(max)

##### isinstance()

In [ ]:
#check a variable/value to find out what Object Family (data type) it belongs to
# isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("This number is a float type")
else:
    print("Thats not a float")

age = input("How old are you? ")
age = int(age)
if isinstance(age, int):
    print(age)

In [ ]:
name = "Ryan"
print(type(name))
print(isinstance(5, int))

In [ ]:
print(isinstance(5, float))

In [ ]:
num1 = 5
num2 = 2

floored = num1//num2

##### abs()

In [ ]:
# | 5 |
# give us the distance to zero

print(abs(-5))

print(abs(10))


print(abs(5-13))

### Try and Except

In [ ]:
# use this whenever you expect encounter a bug so that the error doesn't cause the program to stop
# logging graceful error messages to gently nudge the user in the right direction

try:
    age = int(input("How old are you? "))
    print(f"Happy Birthday you were {age} and now you are {age + 1}")
except:
    print("Please enter in a number, not text")

In [ ]:
age = int(input("How old are you? "))
print(f"Happy Birthday you were {age} and now you are {age + 1}")

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

In [ ]:
user1 = input("Hello player1, what is your age? ")
user2 = input("Hello player2, what is your age? ")


try:
    gap = int(user1) - int(user2)
    print(f"The age gap between players is {abs(gap)} years.")
except:
    print("Each age entered must be a number.  Please try again.")

# Exercise 2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

In [ ]:
noun = input("Tell me a noun: ")
verb = input("Tell me a verb: ")
adjective = input("Tell me an adjective: ")

print(f"{noun.title()} should be a person, place or thing.  {verb.title()} should be an action word.")  
print(f"{adjective.title()} should be a word describing a noun.")

## Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age1 = input("How old are you? ")

try:
    if int(age1) < 18:
        print("Kids")
    elif int(age1) >= 18 and int(age1) <= 65:
        print("Adults")
    else:
        print("Seniors")
except:
    print("Sorry, you must provide a number.")

## Exercise #4
<p>Take in a number from a user input, output the number squared.</p>

In [ ]:
num = input("Give me any number and I will square it: ")

if "." in num:
    try:
        num = float(num)
        print(num**2)
    except:
        print("Sorry, you must enter a number.  Please try again.")
else:
    try:
        num = int(num)
        print(num**2)
    except:
        print("Sorry, you must enter a number.  Please try again")

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [ ]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dog"

def check_it(word):
    if len(word) > 5:
        print(True)
    elif len(word) < 5:
        print(False)
    else:
        print("This word contains 5 letters.")
        
check_it(word1)
check_it(word2)
check_it(word3)
check_it(word4)
check_it(word5)